@font-face {
    font-family: myFont;  
    src: url("../fonts/SF-Compact-Display-Bold.otf") format("opentype");
}
@font-face {
    font-family: mySecondFont;
    src: url("../fonts/SF-Compact-Display-Regular.otf") format("opentype");
}
*{	padding: 0; margin: 0; }
.content{	margin: 0 auto;	text-align: center; }
.banner{ margin: 5px auto; }
.logo{ 	width: 1200px;	margin: 0px auto;height: auto; }
.text-decor{ width: 1200px; margin: 0px auto; font-family:myFont; color: rgb(239,79,73); font-weight: bold; }
.slim{	font-family: mySecondFont;color: rgb(154,159,161);	width: 1200px;	margin:10px auto;}
button 
{
	font-family:myFont;
    background-color: transparent; 
    border: rgb(239,79,73) 2px solid;
    color: rgb(239,79,73);
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.sign-in{ color: rgb(203,202,202); }